.gitignore 内容：

venv/

.env
.env.*.local

*.log

__pycache__/
*.pyc
*.pyo

*compiled

.DS_Store
*.swp
*.swo
*.bak
*.tmp

*.egg-info/

.Python
build/
dist/

*.tmp
*.temp
*.log

*.key
*.pem
*.crt

.vscode/
.idea/
*.iml

*.editorconfig
*.gitattributes

*.min.js
*.min.css

*.container

*.global

Thumbs.db
.DS_Store